#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: ubuntu-2204-autoinstall-test
    username: ubuntu
    password: "$5$nITAQzI5vPpNtTtg$JvMxi9xLGbE5utJ/5Kj.J3HMkqIK/f14qfwhw7RT7Z5" # Abcd1234$$
